*.pickle
*.pyc
.spyproject
.idea
*/.idea
__pycache__
*/__pycache__
*.log
.vscode
.Rproj.user
mri_surv/vit/checkpoint_dir/*
mri_surv/metadata/data_raw/ADNI/*
mri_surv/metadata/data_raw/NACC/*
mri_surv/metadata/data_raw/OASIS/*
mri_surv/metadata/data_raw/aibl_metadata/*
